* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

// Colors - Primary
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);

// Colors - Neutral
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

$align-bottom: calc(30vh - 72px); //Translation value to align to bottom of page.

// Bottom navigation
.lower-btns {
  position: fixed;
  top: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 100px 0 0 0;
  font-weight: 500;
  // width: 450px;

  a {
    text-decoration: none;
    color: $coolGray;
  }

  a:hover {
    color: $marineBlue;
    transition: all 0.3s ease;
  }

  button {
    padding: 1rem;
    background: $marineBlue;
    color: $white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transform: translateX(16.8rem);
    width: 120px;
    transition: all 0.3s ease;
  }

  button:hover {
    background: hsl(213, 91%, 21%);
    cursor: pointer;
  }
}

// slide styling
.slider {
  overflow: hidden;
  position: relative;
  margin: 60px 0 0 86px;
  width: 450px;
  .slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 450px;
    color: $coolGray;

    /* THIS creates the animation! */
    transition: transform 0.6s;
  }
}

// Mobile Responsiveness
@media (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
  section {
    margin-right: 1rem;
  }
  // h1 + p{
  //   margin: 0 0 30px 0;
  // }
  .slider {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    // width: 100vw;
    // max-width: 343px;

    width: auto;
    .slide {
      z-index: 99;
      background: $white;
      box-shadow: 0 5px 30px $lightGray;
      max-width: 343px;
      padding: 35px 1.5rem 25px;
      border-radius: 10px;
      margin: 99px 0 0 0;
    }

    .lower-btns {
      width: 100vw;
      height: 72px;
      background: $white;
      position: absolute;
      bottom: 0;
      align-self: center;
      padding: 0 1.5rem;
      // transform: translateY($align-bottom);
      top: unset;
      // margin: auto;
      button {
        transform: translateX(0);
      }
    }
  }
}
